//////////////////////////////////////////////////////////////////
// VARIABLES
//////////////////////////////////////////////////////////////////

//Media Queries
$break-small: 320px;
//Colours
$red-light: #FF7165;
$red-primary: #E55B54;
$red-dark: #BF423C;
$red-shadows: #401614;

//////////////////////////////////////////////////////////////////
// MIXINS
////////////////////////////////////////////////////b//////////////

@mixin staggered-gradient(){
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//////////////////////////////////////////////////////////////////
// FORMATTING
//////////////////////////////////////////////////////////////////

.title{
  font-family: "Bitter", serif;
  font-size: 6.5em;
  padding: 0.25em;
  text-align: center;
  @include staggered-gradient();
  @media screen and (max-width: $break-small) {
    font-size: 12em;
  }
}

#title-1{
  transform: rotate(1deg);
  color: $red-light;
}

#title-2{
  padding-top: 0.25em;
  transform: rotate(-4deg);
  color: $red-primary;
}

#title-3{
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  transform: rotate(6deg);
  color: $red-dark;
}

#header{
  width: 200%;
  background-color: $red-shadows;
}

.wave1{
  background-color: $red-primary;
  padding: 1.5em;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.wave2{
  background-color: #fff;
  padding: 1.5em;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
