/*  $bg-dark: #122C34;
    $deep-blue: #224870;
    $light-blue: #507DBC;
    $bg-light: #DBEAFC;
    $accent:  #15DB1F*/

#page{
  color: #122C34;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
  margin-top: 0.8em;
}

.title {
  font-family: "Bitter", sans-serif;
  margin-left: 0 !important;
  /* font-size: 3em; */
	font-weight: 700;
  /* padding: 0.25em; */
  text-align: center;
  background: -webkit-linear-gradient(#eee, #333);
	color: #113c7a;
  -webkit-background-clip: text;
}

.sub-title {
  color: #113c7a !important;
  margin-left: 0 !important;
}

#header{
  display: flex;
  border-bottom: 0.33em solid #113c7a;
  background-color: #3f84e4;
}

#title-card{
  /* background-color: #122C34; */
}

#social-media{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  font-size: 1.7em;
  height: auto;
}

.link{
  color: #DBEAFC;
}

.hook.link{
  font-weight: normal;
}

.hook.link:active{
  font-weight: bolder;
}

.link:hover{
  color: #DBEAFC;
  text-shadow: 0px 1px #121212;
}

#social-media > div{
  width: 100%;
}

.textbody {
	padding: 6px 32px 0px 32px;
	font-size: 0.9em;
	font-weight: 300;
	margin: 0;
	text-align: left;
}

#personal-photo{
	max-height: 320px;
  width: auto;
	height: auto;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
	margin: : 0.75em;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 3em;
  }

  .link{
    font-size: 1em;
  }
}

@media screen and (max-width: 720px) {
  .title {
    font-size: 2em;
  }

  .link{
    font-size: 0.75em;
  }

  .sub-title{
    font-size: 1.25em
  }

  #personal-photo{
  	max-width: 180px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 1.25em;
  }

  #social-media {
    font-size: 0.8em;
  }
}
