<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <title>Stew Esho</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Software developer with a focus on game development." >
        <link rel="canonical" href="http://stewesho.com" />

        <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:500,700,900&display=swap" rel="stylesheet">  -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700,900&display=swap" rel="stylesheet">  -->

        <link rel="stylesheet" type="text/css" href="assets/css/vendor/normalize.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/vendor/skeleton.css"  />
        <link rel="stylesheet" type="text/css" href="assets/css/vendor/fontello.css"  />
        <link rel="stylesheet" type="text/css" href="assets/css/style.css"            />
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
              crossorigin="anonymous"></script>
        <script src="assets/js/vendor/fittext.js"></script>
        <script src="assets/js/general.js"></script>

        <!--FAVICON -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/site.webmanifest">
        <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bd576">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="theme-color" content="#ffffff">



    </head>
    <body>
        <header id="masthead">
            <section id="title-container">
                <hgroup id="title">
                    <h1>
                        Stew Esho
                    </h1>
                    <h2 class="subtitle">
                        Gameplay Programmer
                    </h2>
                </hgroup>
                <div id="profile-pic">
                    <img src="./assets/img/stew.jpg" alt="a headshot of Stew" title="Stew Esho" />
                </div>
            </section>
            <nav id="nav">
                <ul>
                    <li>
                        <a href = "#about">about</a>
                    </li>
                    <li>
                        <a href = "#projects">projects</a>
                    </li>
                    <li>
                        <a href = "#skills">skills</a>
                    </li>
                </ul>
            </nav>
        </header> <!-- /#masthead -->
        
        <main id="content">
            {{ content }}
        </main> <!-- /#content -->

        <footer id="footer">

        </footer>
    </body>
</html>
